.jumbotron {
    height: 100vh;
}

.arch-daughter-font {
    font-family: 'Architects Daughter', cursive;    
}

#taiwanese-fried-chicken {
    background-image: url("https://www.placebear.com/300/300");
    background-size: cover;
    height: 50vh;
}

.remove-bullets {
    list-style-type: none;
    padding:0;
    margin:0;
  }

  .w-100 {
    width: 100%;
    height: 75vh;
  }

  